$brand-black: #202020;
$brand-dark-gray: #323232;
$brand-light-gray: #474747;
$brand-white: #F8F8F8;
$brand-blue: #1EA6E2;

$brand-font: 'Inconsolata';

#page-body {
    height: 100vh;
    overflow: hidden;
    background-color: $brand-light-gray;

    #page-content {
        width: 80%;
        margin-left: 10%;
        //background-color: $brand-black;

        #page-header {
            #logo {
                transform: scale(0.23);
                transform-origin: top left;
            }

            #analyze-btn {
                position: fixed;
                right: 10%;
                top: 1.875rem;

                color: $brand-white;
                font-size: 2.25rem;
                font-weight: 400;
                font-family: $brand-font;

                border: none;
                padding: 10px;
                border-radius: 10px;
                background-color: $brand-black;

                cursor: pointer;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                &:hover {
                    color: $brand-black;
                    background-color: $brand-blue;
                }
            }
        }


        #control-panel {
            position: fixed;
            bottom: 32px;

            width: 80%;
            height: 200px;
            border-radius: 5px;
            background-color: $brand-dark-gray;
            box-shadow: 0px 14px 3px rgba(32, 32, 32, 0.3);
        }
    }
}
