<div id="page-body">
    <main id="page-content">
        <div id="page-header">
            <img id="logo" src="assets/images/logo-no-background.png" aria-label="Logo">
            <button (click)="analyzeGraph()" id="analyze-btn" type="button">Analyze</button>
        </div>

        <div id="control-panel">

        </div>
    </main>
</div>



<!--
<ngx-graph
class="graph-container"
[view]="view"
[links]="links"
[nodes]="nodes"
layout="dagre"
[autoZoom]="true"
[autoCenter]="true"
[showMiniMap]="true"
[draggingEnabled]="false"
[miniMapPosition]="miniMapPosition"
>
</ngx-graph>
-->